.navigation {
  
  
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

h1 {
  
  text-align: center;
  font-size: 400%;
  
}

body {
  
  
  background:
  url(https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif);
  background-size: contain;
}